@import "./Player";
@import "./Song";
@import "./Library";
@import "./Nav";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
body {
  font-size: 110%;
  background: rgb(32, 32, 32);
  overflow-x: hidden;
  padding-top: 2rem 0rem;
}
.App {
  transition: 0.5s ease-in-out all;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.slide {
  margin-left: 30%;
  .song-img {
    width: 17rem;
  }
}
